.project-card {
  text-align: left;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  
  &:hover {
    transform: scale(1.05);
  }

  .project-image {
    height: 180px;
    object-fit: scale-down;
    padding: 20px;
  }

  .project-content {
    flex: 1;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    h3 {
      font-size: 18px;
      font-weight: bold;
    }

    .period {
      font-size: 14px;
      color: gray;
    }
    .description{
      flex-grow: 1; 
      p{
        margin: 0;
      }
    }

    .tech-stack {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;

      .tech {
        background: #e8e8e8;
        padding: 4px 8px;
        border-radius: 6px;
        font-size: 12px;
        color:white;
      }
    }

    .more-btn {
      margin-top: 8px;
      text-decoration: none;
      font-weight: bold;
      color: black;
      display: inline-block;
      &:hover{
        color:#42b883
      }
    }
  }
}
