.header{
  display: flex;
  height: 60px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: #282c34;
  color: white;
  position: fixed;

  .left {
    width: 10%;
  }

  .right {
    width: 10%;
    display: flex;
    justify-content: center;
  }

  .middle {
    width: 75%;
  }
}
