.project {
  h2 {
    font-family: 'Pretendard';
    font-weight: 800;
    font-size: 32px;
    
  }

  .project-card {
    .thumbnail {
      margin: 0 auto;
      width: 500px;

    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .project {
    .project-card {
      flex-direction: column;
    }
  }
}
@media (max-width: 768px) {
  .project {
    .project-card {
      flex-direction: column;

      .thumbnail {
        width: 200px;
        max-width: 100%;
      }
    }
  }

}